h2 {
    font-size: 35px;
}

#portfolio-container {
    margin-top: 70px;
}

.flex-row {
    display: flex;
    flex-flow: row wrap;
    padding: 0 50px;
}

.column {
    flex: 25%;
    max-width: 25%;
    padding: 20px;
    justify-content: center;
}

.column > img {
    margin: 8px;
    width: 100%;
    border-radius: 15%;
}

.column img:hover {
    opacity: 0.75;
}