#portfolio-container {
    margin-top: 70px;
}

h2 {
    font-size: 35px;
}

.flex-row {
    display: flex;
    flex-flow: row wrap;
    padding: 0 50px;
}

.column {
    flex: 25%;
    max-width: 25%;
    padding: 16px;
    justify-content: center;
}

.column img {
    margin: 8px;
    width: 100%;
    border-radius: 15%;
    /*border: 1px solid black;*/
}